// Placeholder to allow overriding predefined variables smoothly.

$fig-font-family: "et-book", ETBembo, "Chronicle Text G2", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$base-font-family: "IBM Plex Sans", "Gill Sans", "Gill Sans MT", sans-serif;
$code-font-family: "IBM Plex Mono", Consolas, monospace;
$url-font: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;